/* Body reset */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: rgb(188, 188, 188);
}

.card-img-top {
    width: auto;
    height: 414px;
    object-fit: scale-down;
}

.card {
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    background: rgb(188, 188, 188);
}